<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>LinkedIn Prototype</title>
<meta name="generator" content="Bootply" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="..//css/bootstrap.min.css" rel="stylesheet">
<link href="../css/styles.css" rel="stylesheet">
<link
	href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css"
	rel="stylesheet">

<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/ajaxcalls.js"></script>
<script src="js/jquery-ui.min.js"></script>

<style type="text/css">
#table1{
	padding: 30px;
	text-align: center;
	width: 100%;
	font-size: 20px;
}

th{
	text-align: center;
}
</style>

</head>
<body>
	<nav class="navbar navbar-fixed-top header">
		<div class="col-md-12">
			<div class="navbar-header">

				<a href="/homePage" class="navbar-brand">LinkedIn Prototype</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse1">
					<i class="glyphicon glyphicon-search"></i>
				</button>

			</div>

		</div>
	</nav>

	<div class="navbar navbar-default" id="subnav">
      <div class="col-md-12">
          <div class = "navbar-header">
          <a href="" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
          <ul class="nav dropdown-menu">
              <li id="profile"><a href="#"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a></li>
             <!-- <li><a href="#"><i class="glyphicon glyphicon-dashboard" style="color:#0000aa;"></i> Dashboard</a></li>-->
              <li id="job"><a href="#"><i class="glyphicon glyphicon-inbox" style="color:#11dd11;"></i> Jobs</a></li>
              <li class="nav-divider"></li>
              <li id="search"><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Search</a></li>
          </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse2">
          <ul class="nav navbar-nav navbar-right">
    
       
           <li><a href="/logout" role="button" data-toggle="modal">Logout</a></li>
           </ul>
        </div>  
       </div> 
    </div>

	<!--main-->
	<div class="container" id="main">
		<!--row-->
		<div class="row">


				<div class="row" id='initial'>

					<div class="col-md-12 col-sm-6">

					<div class="panel panel-default" id = "panel">

					<div class="panel-body" id = "panel-body">

					<form>

						<table  border = 3 align = "center" id = "table1">

							<tr>
								<th>Company Name</th>
								<th>Job ID</th>
								<th>Company Id</th>
								<th>Status</th>
								<th>Application Date</th>
							</tr>

							<% for(var i=0; i<app.length; i++) {%>

							<tr>
								<td><%= app[i].company_name %></td>
								<td><%= app[i].job_id %></td>
								<td><%= app[i].company_id %></td>
								<td><%= app[i].status %></td>
								<td><%= app[i].application_date %></td>
							</tr>	

							<% } %>

						</table>	

					</form>

					</div>

					</div>

					</div>

				</div>

			</div>

		</div>
		<!--/row-->

		<div class="clearfix"></div>

		<hr>
		<div class="col-md-12 text-center">
			<p>CmpE-282 CloudServices-LinkedIn Prototype</p>
		</div>
		<hr>

	</div>
	</div>
	<!--/main-->

	<!-- script references -->
	<script type="text/javascript"></script>
	<script src="js/ajaxCallUserSearch.js"></script>
	</script>
</body>
</html>